@model Article
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Create new article local storage</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    Title
                    <input asp-for="Title" class="form-control" id="articletitle" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Content
                    <input asp-for="Content" class="form-control" id="articlecontent" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Image
                    <input asp-for="Image" type="file" class="form-control" accept="image/png, image/jpeg" id="articleimage" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input onclick="guardar()" class="btn btn-success" name="name" value="Create new article" />
                </div>
            </form>
        </div>
    </div>

</div>

@*@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function guardar() {
            var titulo = document.getElementById("articletitle").value;
            var content = document.getElementById("articlecontent").value;
            var imagen = document.getElementById("articleimage").value;
            alert(titulo);

            alert(content);
            alert(imagen);
        }
    </script>

}*@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        
        var urlImagen = "";
        document.querySelector("#articleimage").addEventListener("change", function () {
            const reader = new FileReader();
            reader.addEventListener("load", () => {
                urlImagen=reader.result;
            });
            reader.readAsDataURL(this.files[0]);
        });


        function guardar() {
            var titulo = document.getElementById("articletitle").value;
            var contenido = document.getElementById("articlecontent").value;
            var imagen = document.getElementById("articleimage").value;
            if (titulo != "" && contenido != "" && imagen != "") {
                var id = parseInt(localStorage.getItem("autoincremento"));
                if (String(id) == "NaN") {
                    id = 0;
                }
                if (id != null) {

                    id = id + 1;
                    localStorage.setItem("autoincremento", id);
                }
                else {
                    localStorage.setItem("autoincremento", 1);
                }
                var articulos = localStorage.getItem("Articles");
                let article = {
                    id: id,
                    title: titulo,
                    content: contenido,
                    image: urlImagen
                }
                
                localStorage.setItem("Articles" + id, JSON.stringify(article));
                alert("Articulo ingresado correctamente");
                window.location.href = "../ArticlesLocalStorage/Manage", true;
            }   
        }
    </script>
}
